/*-----------------------------------------------------------------------------------*/
/* Branding Scaffolding
/*-----------------------------------------------------------------------------------*/

.admin-menu .l-branding{
	top: 29px !important;
	}

.l-branding{
	@include clearfix;
	background: $primary-color;
	box-shadow: 0 5px 0 darken($primary-color, 10%);
	left: 0;
	position: relative;
	top: 0;
	width: 100%;
	z-index: 100;

	a, img{
		display: block;
		height: $base-line-height*3;
		}
		img{
			padding: $base-line-height*0.5 10px;
		}
	}



/*-----------------------------------------------------------------------------------*/
/* Branding Global Styles
/*-----------------------------------------------------------------------------------*/