// Media Query Ranges
//$small-range: (0px, 640px) !default; //mob
//$medium-range: (641px, 1024px) !default; //exnarrow
//$normal-range: (1025px, 1200px) !default; //narrow
//$large-range: (1201px, 1240px) !default; //normal
//$xlarge-range: (1401px, 1600px) !default; //wide
//$xxlarge-range: (1601px) !default; //exwide

// Orientation & Medium
//$screen: "only screen" !default;
//$landscape: "#{$screen} and (orientation: landscape)" !default;
/$portrait: "#{$screen} and (orientation: portrait)" !default;

// Grids
$grids: 12;
$gutters: 1/3;

$mob: 0px; 
$xxsmall: 640px; 
$xsmall: 768px;
$small: 960px;
$medium: 1024px;
$large: 1200px; 
$xlarge: 1400px;
