/* Page Grids */

.lp-grid .view-content{
	@include grid-span(12, 1);

	.views-responsive-grid{
		@include grid-span(12, 1);
		float: none;
		margin: 0 auto;
		padding: 40px 0;
		@include breakpoint($exnarrow) {
			width: $exnarrow;
			}
		@include breakpoint($narrow) {
			width: $narrow;
			}
		@include breakpoint($normal) {
			width: $normal;
			}
		@include breakpoint($wide) {
			width: $wide;
			}
		@include breakpoint($exwide) {
			width: $exwide;
			}
		}

		.views-column{
			@include grid-span(12, 1);
			}

		@include breakpoint($exnarrow) {
			.views-column:nth-child(odd){
				@include grid-span(6, 1);
				}

			.views-column:nth-child(even){
				@include grid-span(6, 7);
				}

			.views-column:nth-child(2n-1){
				clear: left;
				}
		}

		@include breakpoint($narrow) {
			.views-column:nth-child(3n-2){
				@include grid-span(4, 1);
				}

			.views-column:nth-child(3n-1){
				@include grid-span(4, 5);
				}

			.views-column:nth-child(3n+0){
				@include grid-span(4, 9);
				}

			.views-column:nth-child(3n+1){
				clear: left;
				}
		}

		@include breakpoint($wide, $exwide) {
			.views-column:nth-child(4n-3){
				@include grid-span(3, 1);
				}

			.views-column:nth-child(4n-2){
				@include grid-span(3, 4);
				}

			.views-column:nth-child(4n-1){
				@include grid-span(3, 7);
				}

			.views-column:nth-child(4n+0){
				@include grid-span(3, 10);
				}

			.views-column:nth-child(4n+1){
				clear: left;
				}
		}

	}
