// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "mixins/**/*";
@import "components/**/*";
@import "base/**/*";
@import "functions";


/*-----------------------------------------------------------------------------------*/
/* Breakpoint labelling
/*-----------------------------------------------------------------------------------*/

$mob: 0px; 
$xxsmall: 640px; 
$xsmall: 768px;
$small: 960px;
$medium: 1024px;
$large: 1200px; 
$xlarge: 1400px;

.l-main:before{
	background: hsla(0,0%,0%,0.8);
	bottom: 3px;
	color: hsla(0,0%,100%,1);
	line-height: 30px;
	position: fixed;
	right: 0;
	text-indent: 10px;
	width: 200px;
	z-index: 50;
	@include breakpoint($mob) {
		content: "Mobile";
		}
	@include breakpoint($xxsmall) {
		content: "XX Small";
		}
	@include breakpoint($xsmall) {
		content: "X Small";
		}
	@include breakpoint($small) {
		content: "Small";
		}
	@include breakpoint($medium) {
		content: "Medium";
		}
	@include breakpoint($large) {
		content: "Large";
		}
	@include breakpoint($xlarge) {
		content: "X Large";
		}
	}


/*-----------------------------------------------------------------------------------*/
/* Global Structure
/*-----------------------------------------------------------------------------------*/

/* Super Structure ***********************/

html{
	height: 100%;
	margin: 0;
	min-width: 320px;
	padding: 0;
	position: relative;
	body {
		@extend html;
		left: 0;
		min-height: 100%;
		width: auto;
		}
}

.l-page{
	height: auto;
	margin-bottom: -300px;
	min-height: 100%;
	padding: 0;
	position: relative;
	width: 100%;

	.push{
		height: 300px;
		}
}

.center-wrapper,
.header-content-region,
.footer-content-region{
	@include clearfix;
	float: left;
	margin-bottom: 20px;
	width: 100%;
	}

.l-region--footer,
.panel-display{
	margin: 0 auto;
	@include breakpoint($xxsmall) {
		width: $xxsmall - 20px;
		}
	@include breakpoint($xsmall) {
		width: $xsmall - 20px;
		}
	@include breakpoint($small) {
		width: $small - 20px;
		}
	@include breakpoint($medium) {
		width: $medium - 20px;
		}
	@include breakpoint($large) {
		width: $large - 20px;
		}
	@include breakpoint($xlarge) {
		width: $xlarge - 20px;
		}
}

.panel-display .panel-panel{
	background: #f6f6f6;
	padding: 20px;
	}

.one-col .panel-display .middle-content-region.panel-panel{
	background: #f6f6f6;
	padding: 20px 0;
	}

.grid .views-column{background: #999; padding: 20px; margin-bottom: 20px; min-height: 200px;}

/* Branding ***********************/



/* Main Content ***********************/

/*.l-main{
	margin: 0 auto;
	overflow: hidden;
	@include breakpoint($exnarrow) {
		width: $exnarrow;
		}
	@include breakpoint($narrow) {
		width: $narrow;
		}
	@include breakpoint($normal) {
		width: $normal;
		}
	@include breakpoint($wide) {
		width: $wide;
		}
	@include breakpoint($exwide) {
		width: $exwide;
		}
	}

	.front,
	.page-services{
			.l-main{
			width: 100%;
			}
		}
*/
// .l-main .views-row .node{
// 	margin: 0 auto;
// 	@include breakpoint($tab) {
// 		width: $tab;
// 		}
// 	@include breakpoint($note) {
// 		width: $note;
// 		}
// 	@include breakpoint($desk) {
// 		width: $desk;
// 		}
// 	@include breakpoint($lgdesk) {
// 		width: $lgdesk;
// 		}
// 	@include breakpoint($rlgdesk) {
// 		width: $rlgdesk;
// 		}
// 	}


