/*-----------------------------------------------------------------------------------*/
/* Footer
/*-----------------------------------------------------------------------------------*/

/* Global Footer Structure Styles ***********************/

footer.l-footer{
	@include grid-span(12, 1);
	@include box-shadow(
		inset 0 5px 0 hsla(360,0,80,1), 
		inset 0px 10px 5px hsla(360,0,0,0.5));
	@include background-image(
		radial-gradient(top center, $primary-color 0%, darken($primary-color, 20%) 100%));
	clear: both;
	height: 300px;
	padding-top: 30px;
	width: 100%;
	
	.l-region--footer{
		margin: 0 auto;
		@include breakpoint($xsmall) {
			width: $xsmall;
			}
		@include breakpoint($small) {
			width: $small;
			}
		@include breakpoint($medium) {
			width: $medium;
			}
		@include breakpoint($large) {
			width: $large;
			}
		@include breakpoint($xlarge) {
			width: $xlarge;
			}
	}

/* Global Footer Block Styles ***********************/

	.block{
		float: left;
		overflow: hidden;
		width: 20%;

		img.lp-logo{
			display: block;
			margin: 0 auto;
			position: relative;
			}

		}

/* Logo Block Styles ***********************/

}