
/* Right menu - Keeps the non navigational sub menus always visible */

/*-----------------------------------------------------------------------------------*/
/* Menu Scaffolding
/*-----------------------------------------------------------------------------------*/

.rel-register-build .rel-register-link{
	display: none;
	}

.l-region--navigation{
	width: 100% !important;
	}

/*-----------------------------------------------------------------------------------*/
/* Menu Global Styles
/*-----------------------------------------------------------------------------------*/

#block-menu-block-1{
	background: $primary-color;
	box-shadow: 0 5px 0 darken($primary-color, 10%);
	}

#block-menu-block-1 .menu{
	margin: 0;
	padding: 0;
	>li{
		display: inline-block;
		cursor: default;
		vertical-align: top;
		span, a{
			border: none;
			color: #fff;
			display: block;
			font-size: $base-font-size;
			line-height: $base-line-height*3;
			padding: 0 20px;
			text-decoration: none;
			}
			:hover{
				background: darken($primary-color, 5%);
				}
		}

	.expanded ul{
		display: none;
		}

	.expanded:hover ul{
		background: $primary-color;
		display: block;
		position: absolute;
		}
}

/*-----------------------------------------------------------------------------------*/
/* Left Menu
/*-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------*/
/* Right Menu
/*-----------------------------------------------------------------------------------*/

/* Keeps the non navigational sub menus always visible ***********************/

.tb-megamenu .mega.not-dropdown{
	float: right;
	width: 30%;
	z-index: 1;
	}

	.tb-megamenu .not-dropdown .dropdown-menu{
		background: transparent;
		border: none;
		box-shadow: none;
		}

	.tb-megamenu .mega.not-dropdown > a{
		display: none;	
		}


/* Drop down items */

	.tb-megamenu .mega.not-dropdown > .mega-dropdown-menu.nav-child{
		display: block;
		float: left;
		position: relative;
		width: 100%;
		}


		/* Contact Us, Social and Login */
		.tb-megamenu .mega.not-dropdown > .mega-dropdown-menu.nav-child .right-menu-block:not(.search){
			border-right: 1px dotted darken($primary-color, 15%) ;
			margin: 0;
			width: 15%;
			}

			.tb-megamenu .mega.not-dropdown > .mega-dropdown-menu.nav-child .right-menu-block:not(.search) li.level-2 > a:first-child{
				text-indent: -9999px;
				}

		/* Contact Us, Social and Login */
		.tb-megamenu .mega.not-dropdown > .mega-dropdown-menu.nav-child .right-menu-block.search{
			margin: 0;
			width: 55%;
			}

		.tb-megamenu .mega.not-dropdown > .mega-dropdown-menu.nav-child .level-1 > li{
			float: left;
			}

			/* Hides Chevrons */
			.tb-megamenu .dropdown-submenu > a:after{
				display: none;
				}


/* Realigns the sub-menus ***********************/

.tb-megamenu .dropdown-submenu > .dropdown-menu{
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	left: 0;
	margin-left: -1px;
	margin-top: 34px;
	top: 0;
	}

/* Contact Us ***********************/

/* Social ***********************/

/* Registration/Login ***********************/

/* Search Box ***********************/

#tb-megamenu-column-15{

		.form-actions,
		.form-item{
			display: inline-block;
			float: left;
			width: 50%;
			}

		input{
			width: 100%;
		}
	}

// 	.tb-megamenu .mega.not-dropdown{
// 	float: right;
// 	z-index: 1;
// 	}

// 	.tb-megamenu .mega.not-dropdown > a{
// 		display: none;	
// 		}

// 	.tb-megamenu .mega.not-dropdown > .mega-dropdown-menu{
// 		display: block;
// 		}

// 		.tb-megamenu .mega.not-dropdown > .mega-dropdown-menu.nav-child{
// 			float: left;
// 			position: relative;
// 			}

// 			.tb-megamenu .mega.not-dropdown > .mega-dropdown-menu.nav-child .level-1 > li{
// 				float: left;
// 				}

// /* Realigns the sub-menus */

// .tb-megamenu .dropdown-submenu > .dropdown-menu{
// 	top: 0;
// 	left: 0;
// 	margin-top: 34px;
// 	margin-left: -1px;
// 	-webkit-border-radius: 0;
// 	-moz-border-radius: 0;
// 	border-radius: 0;
// 	}
