
/* Page Grids */

.four-col-equal{
	@include grid-span(12, 1);

		.panel-display{
		margin: 0 auto;
		@include breakpoint($xsmall) {
			width: $xsmall;
			}
		@include breakpoint($small) {
			width: $small;
			}
		@include breakpoint($medium) {
			width: $medium;
			}
		@include breakpoint($large) {
			width: $large;
			}
		@include breakpoint($xlarge) {
			width: $xlarge;
			}
	}
	
		.header-content-region,
		.left-content-region,
		.middle-left-content-region,
		.middle-right-content-region,
		.right-content-region,
		.footer-content-region{
			@include grid-span(12, 1);
			clear: left;
			}

		@include breakpoint($small,$medium) {
			.header-content-region{
				@include grid-span(12, 1);
				}

			.left-content-region{
				@include grid-span(6, 1);
				}

			.middle-left-content-region{
				@include grid-span(6, 7);
				}

			.middle-right-content-region{
				@include grid-span(6, 1);
				clear: left;
				}

			.right-content-region{
				@include grid-span(6, 7);
				}

			.footer-content-region{
				@include grid-span(12, 1);
				clear: left;
				}
		}

		@include breakpoint($large) {
			.header-content-region{
				@include grid-span(12, 1);
				}

			.left-content-region{
				@include grid-span(3, 1);
				}

			.middle-left-content-region{
				@include grid-span(3, 4);
				}

			.middle-right-content-region{
				@include grid-span(3, 7);
				}

			.right-content-region{
				@include grid-span(3, 10);
				}

			.footer-content-region{
				@include grid-span(12, 1);
				clear: left;
				}
		}
}

