/* Page Grids */

.page-success-stories .views-responsive-grid .views-row,
.page-testimonials .views-responsive-grid .views-row{
	@include grid-span(12, 1);

		.views-column{
			@include grid-span(12, 1);
			clear: left;
			}

		@include breakpoint($exnarrow) {
			.views-column-1{
				@include grid-span(6, 1);
				}

			.views-column-2{
				@include grid-span(6, 7);
				}

			.views-column-3{
				@include grid-span(6, 1);
				}

			.views-column-4{
				@include grid-span(6, 7);
				clear: left;
				}

			.views-column-5{
				@include grid-span(6, 1);
				}

			.views-column-6{
				@include grid-span(6, 7);
				clear: right;
				}
		}

		@include breakpoint($narrow) {
			.views-column-1{
				@include grid-span(4, 1);
				}

			.views-column-2{
				@include grid-span(4, 5);
				}

			.views-column-3{
				@include grid-span(4, 9);
				}

			.views-column-4{
				@include grid-span(4, 1);
				clear: left;
				}

			.views-column-5{
				@include grid-span(4, 5);
				}

			.views-column-6{
				@include grid-span(4, 9);
				clear: right;
				}
		}

		@include breakpoint($wide, $exwide) {
			.views-column-1{
				@include grid-span(3, 1);
				}

			.views-column-2{
				@include grid-span(3, 4);
				}

			.views-column-3{
				@include grid-span(3, 7);
				}

			.views-column-4{
				@include grid-span(3, 10);
				}

			.views-column-5{
				@include grid-span(3, 1);
				clear: left;
				}

			.views-column-6{
				@include grid-span(3, 4);
				}
		}

	}
