/* Page Grids */

.two-col-84{
	@include grid-span(12, 1);

		.header-content-region,
		.left-content-region,
		.right-content-region,
		.footer-content-region{
			@include grid-span(12, 1);
			clear: left;
			}

		@include breakpoint($xsmall) {
			.header-content-region{
				@include grid-span(12, 1);
				}

			.left-content-region{
				@include grid-span(8, 1);
				}

			.right-content-region{
				@include grid-span(4, 9);
				}

			.footer-content-region{
				@include grid-span(12, 1);
				clear: left;
				}
		}

		@include breakpoint($large) {
			.header-content-region{
				@include grid-span(12, 1);
				}

			.left-content-region{
				@include grid-span(8, 1);
				}

			.right-content-region{
				@include grid-span(4, 9);
				}

			.footer-content-region{
				@include grid-span(12, 1);
				clear: left;
				}
		}
}

