/*
Syntax error: Undefined variable: "$exnarrow".
        on line 21 of /var/www/drupal/sites/all/themes/thepixelworx/sass/base/footer/_footer.scss, in `breakpoint'
        from line 21 of /var/www/drupal/sites/all/themes/thepixelworx/sass/base/footer/_footer.scss
        from line 2 of /var/www/drupal/sites/all/themes/thepixelworx/sass/base/**\/*
        from line 22 of /var/www/drupal/sites/all/themes/thepixelworx/sass/thepixelworx.styles.scss
        from line 5 of /var/www/drupal/sites/all/themes/thepixelworx/sass/thepixelworx.no-query.scss

Backtrace:
/var/www/drupal/sites/all/themes/thepixelworx/sass/base/footer/_footer.scss:21:in `breakpoint'
/var/www/drupal/sites/all/themes/thepixelworx/sass/base/footer/_footer.scss:21
/var/www/drupal/sites/all/themes/thepixelworx/sass/base/**\/*:2
/var/www/drupal/sites/all/themes/thepixelworx/sass/thepixelworx.styles.scss:22
/var/www/drupal/sites/all/themes/thepixelworx/sass/thepixelworx.no-query.scss:5
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/script/variable.rb:49:in `_perform'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/script/node.rb:40:in `perform'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:259:in `block in visit_mixin'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:259:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:259:in `visit_mixin'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/tree/root_node.rb:20:in `render'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/compass-0.12.6/lib/compass/compiler.rb:139:in `block (2 levels) in compile'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/compass-0.12.6/lib/compass/compiler.rb:126:in `timed'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/compass-0.12.6/lib/compass/compiler.rb:138:in `block in compile'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/compass-0.12.6/lib/compass/logger.rb:45:in `red'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/compass-0.12.6/lib/compass/compiler.rb:137:in `compile'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/compass-0.12.6/lib/compass/compiler.rb:118:in `compile_if_required'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/compass-0.12.6/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/compass-0.12.6/lib/compass/compiler.rb:101:in `each'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/compass-0.12.6/lib/compass/compiler.rb:101:in `block in run'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/compass-0.12.6/lib/compass/compiler.rb:126:in `timed'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/compass-0.12.6/lib/compass/compiler.rb:100:in `run'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/compass-0.12.6/lib/compass/commands/update_project.rb:45:in `perform'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/compass-0.12.6/lib/compass/commands/base.rb:18:in `execute'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/compass-0.12.6/lib/compass/commands/project_base.rb:19:in `execute'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/guard-compass-1.1.0/lib/guard/compass.rb:140:in `perform'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/guard-compass-1.1.0/lib/guard/compass.rb:123:in `run_on_change'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/guard-2.6.1/lib/guard/runner.rb:74:in `block in run_supervised_task'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/guard-2.6.1/lib/guard/runner.rb:71:in `catch'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/guard-2.6.1/lib/guard/runner.rb:71:in `run_supervised_task'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/guard-2.6.1/lib/guard/runner.rb:119:in `block in _run_first_task_found'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/guard-2.6.1/lib/guard/runner.rb:117:in `each'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/guard-2.6.1/lib/guard/runner.rb:117:in `_run_first_task_found'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/guard-2.6.1/lib/guard/runner.rb:54:in `block in run_on_changes'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/guard-2.6.1/lib/guard/runner.rb:150:in `block (3 levels) in _scoped_plugins'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/guard-2.6.1/lib/guard/runner.rb:148:in `each'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/guard-2.6.1/lib/guard/runner.rb:148:in `block (2 levels) in _scoped_plugins'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/guard-2.6.1/lib/guard/runner.rb:147:in `catch'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/guard-2.6.1/lib/guard/runner.rb:147:in `block in _scoped_plugins'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/guard-2.6.1/lib/guard/runner.rb:145:in `each'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/guard-2.6.1/lib/guard/runner.rb:145:in `_scoped_plugins'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/guard-2.6.1/lib/guard/runner.rb:46:in `run_on_changes'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/guard-2.6.1/lib/guard/setuper.rb:296:in `block (2 levels) in _listener_callback'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/guard-2.6.1/lib/guard/commander.rb:108:in `block in within_preserved_state'
<internal:prelude>:10:in `synchronize'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/guard-2.6.1/lib/guard/commander.rb:105:in `within_preserved_state'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/guard-2.6.1/lib/guard/setuper.rb:295:in `block in _listener_callback'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/listen-2.7.9/lib/listen/listener.rb:276:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/listen-2.7.9/lib/listen/listener.rb:276:in `_process_changes'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/listen-2.7.9/lib/listen/listener.rb:233:in `block in _wait_for_changes'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/listen-2.7.9/lib/listen/listener.rb:216:in `loop'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/listen-2.7.9/lib/listen/listener.rb:216:in `_wait_for_changes'
/usr/local/rvm/gems/ruby-1.9.3-p547@omega.thepixelworx/gems/listen-2.7.9/lib/listen/listener.rb:312:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$exnarrow\".\A         on line 21 of /var/www/drupal/sites/all/themes/thepixelworx/sass/base/footer/_footer.scss, in `breakpoint'\A         from line 21 of /var/www/drupal/sites/all/themes/thepixelworx/sass/base/footer/_footer.scss\A         from line 2 of /var/www/drupal/sites/all/themes/thepixelworx/sass/base/**/*\A         from line 22 of /var/www/drupal/sites/all/themes/thepixelworx/sass/thepixelworx.styles.scss\A         from line 5 of /var/www/drupal/sites/all/themes/thepixelworx/sass/thepixelworx.no-query.scss"; }
